@charset "UTF-8";
#wrap {
	width: 800px;
	height: 650px;
	margin: auto;
}
#header {
	width: 100%;
	height: 15%;
	border-bottom: 2px solid black;
	margin-bottom: 15px;
} 

#header ul li {
	display: inline-block;
	width: 150px;
	text-align: center;
}

table tr th {
	text-align: left;
}
